version = 1

test_patterns = ["**/test_*.py"]

exclude_patterns = ["migrations/**"]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"

[[analyzers]]
name = "test-coverage"
enabled = true

[[analyzers]]
name = "javascript"
enabled = true

[[analyzers]]
name = "shell"
enabled = true

[[transformers]]
name = "isort"
enabled = true