{% extends 'base.html' %}
{% block title %} Confirm Password Reset | Waves Resource Center {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <form class="container col-md-6" method="POST">
    {% csrf_token %}
    
    <fieldset>
      <legend class="border-bottom">Reset password</legend>
      {{ form|crispy }}
    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-success submit">Reset password</button>
    </div>
  </form>
{% endblock content %}