{% extends 'base.html' %}
{% block title %} Register | Waves Resource Center {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <form class="container col-md-6" method='POST'>
    {% csrf_token %}

    <fieldset>
      <legend class="border-bottom mb-4">Register</legend>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
        
      {{ form|crispy }}
      <div class="form-group">
        <button type="submit" class="btn btn-success submit">Register</button>
      </div>
    </fieldset>
  </form>

  <div class="container col-md-6 border-top pt-2">
    <p>
      Already have an account?
      <a href="{% url 'login' %}">Login</a>
    </p>
  </div>
{% endblock content %}